<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="css/style_contact.css">
</head>
<body>
    <div>
 
       <nav>
          <input type="checkbox"id="check">
        <label for="check"class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <label class="logo">Crop_Production</label>
        <ul>
            <li><a  href="/" role="button">Home</a></li>
            <li><a href="/aboutus" role="button">About Us</a></li>
            <li class="dropdown"><a href="#">Prediction</a>
                <ul>
                  <li><a href="https://lucifer123saurav-crop-recommendation-app-7pvkj8.streamlit.app/">Prediction of Crops</a></li>
                  <li><a href="https://lucifer123saurav-crop-production-app-xxzscz.streamlit.app/">Prediction of Crops Production</a></li>
                </ul>
              </li>
            <li><a class="active" href="/contactus">Contact Us</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </nav>
    <section></section>
    <script src="https://kit.fontawesome.com/9938450b26.js" crossorigin="anonymous"></script> 

</div>
    <div class="contact-section">
        <!-- <h1>Contact Us</h1>
         -->
        <form>
          <label class="label_body" for="name">Name:</label>
          <input type="text" id="name" name="name" required>
          
          <label class="label_body" for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          
          <label class="label_body" for="message">Message:</label>
          <textarea id="message" name="message" required></textarea>
          
          <button type="submit">Submit</button>
        </form>
        
        <p class="paragraph">Alternatively, you can reach us at:</p>
        <ul class="is_ul">
          <li class="is_li">Phone: 555-555-5555</li>
          <li class="is_li">Email: info@example.com</li>
          <li class="is_li" >Email: info@example.com</li>
          <li class="is_li">Address: 123 Main St, Anytown USA</li>
        </ul>
    </div>
</body>

    







     

<footer>
    <div >
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Your Company. All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="footer-nav">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body> 
  </html>
</footer>
