<%- include('header')%>
<body>
    <!-- what a website! -->
    <nav>
        <input type="checkbox"id="check">
        <label for="check"class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <label class="logo">Crop_Production</label>
        <ul>
            <li><a  class="active"href="/" role="button">Home</a></li>
            <li><a href="/aboutus" role="button">About Us</a></li>
            <li class="dropdown"><a href="#">Prediction</a>
                <ul>
                  <li><a href="https://lucifer123saurav-crop-recommendation-app-7pvkj8.streamlit.app/">Prediction of Crops</a></li>
                  <li><a href="https://lucifer123saurav-crop-production-app-xxzscz.streamlit.app/">Prediction of Crops Production</a></li>
                </ul>
              </li>
            <li><a href="contactus">Contact Us</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </nav>
    <section></section>
    <script src="https://kit.fontawesome.com/9938450b26.js" crossorigin="anonymous"></script>


    <div class="before_ol">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate labore ad id corrupti nobis, adipisci quos dolorum, corporis 
            ullam quidem tenetur numquam commodi repudiandae, repellendus reprehenderit
             cumque aliquam est cupiditate?</p>

    </div>
    <div class="in_ol">
        <h1>10 Crops You Should Know About</h1>
	<ol>
		<li>
      <h3>Wheat</h3>
      <div class="bda_div">
      
      <div class="for_crop">
            <p> One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products.
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
              
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products</p>
              </div>
              <div class="for_image">
                <img  class="li_image"  src="image\barley-field-g1e1c4bb7f_1920.jpg" alt="Wheat">
              </div>
            </div>

            </li>

           
    <li>
      <h3>Rice</h3>
      <div class="bda_div">
      
      <div class="for_crop">
            <p> One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products.
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
              
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products</p>
              </div>
              <div class="for_image">
                <img  class="li_image"  src="image\farmer-g606cb0f1e_1920.jpg" alt="Rice">
              </div>
            </div>

            </li>
<li>
      <h3>Coconut</h3>
      <div class="bda_div">
      
      <div class="for_crop">
            <p> One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products.
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
              
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products</p>
              </div>
              <div class="for_image">
                <img  class="li_image"  src="image\tree-gf3272f322_1920.jpg" alt="Coconut">
              </div>
            </div>

            </li>
<li>
      <h3>Pulses</h3>
      <div class="bda_div">
      
      <div class="for_crop">
            <p> One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products.
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
              
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products
                One of the most important cereal crops in the world, wheat is used to 
                make bread, pasta, and other food products</p>
              </div>
              <div class="for_image">
                <img  class="li_image"  src="image\istockphoto-964325260-2048x2048.jpg" alt="Pulses">
              </div>
            </div>

            </li>


  <li>
     <h3>Banana</h3>
      <div class="bda_div">
              
      <div class="for_crop">
                    <p> One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products.
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                      
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products
                        One of the most important cereal crops in the world, wheat is used to 
                        make bread, pasta, and other food products</p>
                      </div>
                      <div class="for_image">
                        <img  class="li_image"  src="image\uganda-g448be6ef6_1920.jpg" alt="Banana">
                      </div>
                    </div>
        
                    </li>

                    <li>
                      <h3>Bajra</h3>
                      <div class="bda_div">
                      
                      <div class="for_crop">
                            <p> One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products.
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                              
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products
                                One of the most important cereal crops in the world, wheat is used to 
                                make bread, pasta, and other food products</p>
                              </div>
                              <div class="for_image">
                                <img  class="li_image"  src="image\pearl-millet-gfebbb4112_1920.jpg" alt="Bajra">
                              </div>
                            </div>
                
                            </li>
                            <li>
                              <h3>Sugarcane</h3>
                              <div class="bda_div">
                              
                              <div class="for_crop">
                                    <p> One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products.
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                      
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products
                                        One of the most important cereal crops in the world, wheat is used to 
                                        make bread, pasta, and other food products</p>
                                      </div>
                                      <div class="for_image">
                                        <img  class="li_image"  src="image\sugarcane-g2a7515dab_1920.jpg" alt="Sugarcane">
                                      </div>
                                    </div>
                        
                                    </li>
                                    <li>
                                      <h3>Turmeric</h3>
                                      <div class="bda_div">
                                      
                                      <div class="for_crop">
                                            <p> One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products.
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                              
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products
                                                One of the most important cereal crops in the world, wheat is used to 
                                                make bread, pasta, and other food products</p>
                                              </div>
                                              <div class="for_image">
                                                <img  class="li_image"  src="image\istockphoto-134171079-2048x2048.jpg" alt="Turmeric">
                                              </div>
                                            </div>
                                
                                            </li>
                                            <li>
                                              <h3>Wheat</h3>
                                              <div class="bda_div">
                                              
                                              <div class="for_crop">
                                                    <p> One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products.
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                      
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products
                                                        One of the most important cereal crops in the world, wheat is used to 
                                                        make bread, pasta, and other food products</p>
                                                      </div>
                                                      <div class="for_image">
                                                        <img  class="li_image"  src="image\barley-field-g1e1c4bb7f_1920.jpg" alt="Wheat">
                                                      </div>
                                                    </div>
                                        
                                                    </li>
                                                    <li>
                                                      <h3>Wheat</h3>
                                                      <div class="bda_div">
                                            
                                                      <div class="for_crop">
                                                            <p> One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products.
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                              
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food productsOne of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products
                                                                One of the most important cereal crops in the world, wheat is used to 
                                                                make bread, pasta, and other food products</p>
                                                              </div>
                                                              <div class="for_image">
                                                                <img  class="li_image"  src="image\barley-field-g1e1c4bb7f_1920.jpg" alt="Wheat">
                                                              </div>
                                                            </div>
                                                
                                                            </li>
                                                                                                                                                                
	</ol>
    </div>
  
<%- include('footer')%>

    




 